.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: white;
  min-height: 100vh;
}

.header{
  background: rgb(58,88,139);
  background: radial-gradient(circle, rgba(58,88,139,1) 0%, rgba(52,44,114,1) 100%);
padding:  8px;

}

.footer{
  background-color: #0043fa;
  
}
.main{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 14px;
}


h1{
  margin: 0;
}

.Movie {
  display: inline-block;
  width: 200px;
  height: 300px;
  background: rgb(58,88,139);
  background: radial-gradient(circle, rgba(58,88,139,1) 0%, rgba(44,88,114,1) 100%);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
