.App {
  text-align: center;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(15,54,74,1) 50%, rgba(0,0,0,1) 100%);
  color: #fff;
  min-height: 100vh;
}

.header {
  background: rgb(64,77,97);
  background: radial-gradient(circle, rgba(64,77,97,1) 0%, rgba(134,102,85,1) 100%);
  color: #fff;
  padding: 20px;
}

.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Movie {
  background: #1f1f1f;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  overflow: hidden;
  text-align: left;
  width: 20%;
  margin-left: 15px;
  margin-right: 51px;
  margin-bottom: 5px;
}

.Movie img {
  display: block;
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.Movie h3 {
  background: rgb(37,15,51);
background: linear-gradient(90deg, rgba(37,15,51,1) 0%, rgba(15,38,74,1) 50%, rgba(155,150,150,1) 100%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 20px;
}

.Movie p {
  font-size: 1rem;
  line-height: 1.2;
  margin: 20px;
}
